.sidebar{
  height: 100vh;
  background-color: var(--dark-color);
}
.sidebar .nav-link.active{
  color: var(--primary-color);
}
.sidebar .nav-link{
  color: var(--white-color);
}
.sidebar .nav-link:hover{
  background-color: var(--secundary-color);
}
.sidebar .nav-link.disabled{
  color: var(--secundary-color);
}
.menu-button {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}
.menu-button span {
  color: white;
}
.menu-button mat-icon{
  margin-right: 8px;
}
.name{
  margin-top: 8px;
  font-weight: normal;
}
.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgray;
}
mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
