<img class="avatar" src="assets/images/icon-sidebar.svg" alt="Ícone da navegação lateral">
<h4 class="name">Clínica Veterinária</h4>
<p class="designation">aux for tecnology</p>

<mat-divider></mat-divider>

<button mat-button class="menu-button" [routerLink]="['/painel/inicio']" routerLinkActive="active">
  <span class="material-icons">home</span>
  <span>Inicio</span>
</button>
<button mat-button class="menu-button" [routerLink]="['/painel/pacientes']" routerLinkActive="active">
  <span class="material-icons">pets</span>
  <span>Pacientes</span>
</button>
<button mat-button class="menu-button" routerLink="/painel/proprietarios" routerLinkActive="active">
  <span class="material-icons">diversity_1</span>
  <span>Proprietários</span>
</button>
<button mat-button class="menu-button" routerLink="/painel/cpa" routerLinkActive="active">
  <span class="material-icons">monitor_heart</span>
  <span>Fichas Clinicas CPA</span>
</button>
<mat-divider></mat-divider>
<button mat-button class="menu-button" routerLink="/painel/usuarios" routerLinkActive="active">
  <span class="material-icons">person_add</span>
  <span>Usuários</span>
</button>

<mat-divider></mat-divider>
<button mat-button class="menu-button">
  <span class="material-icons">help</span>
  <span>Ajuda</span>
</button>
