<div class="d-flex flex-column align-items-center" mat-dialog-title>
  <span class="material-icons person-icon">diversity_1</span>
  <span>Cadastro de Proprietário</span>
</div>
<mat-dialog-content class="mat-typography">
  <h3 class="text-center">Preencha os campos abaixo para cadastrar um novo usuário</h3>
  <form [formGroup]="formulario" class="row g-3 new-registration-form">
    <div class="col-md-8">
      <label for="nome" class="form-label">Nome Completo</label>
      <input autocomplete="off" formControlName="nome" type="text" class="form-control" id="nome" required>
      <div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched" class="ng-invalid-feedback">
        Campo obrigatório.
      </div>
    </div>

    <div class="col-md-4">
      <label for="cpf" class="form-label">CPF</label>
      <input autocomplete="off" formControlName="cpf" type="text" class="form-control" id="cpf" mask="CPF_CNPJ" required>
      <div *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched" class="ng-invalid-feedback">
        Campo obrigatório.
      </div>
      <div *ngIf="formulario.get('cpf')?.errors?.['cpf-cnpj'] && formulario.get('cpf')?.touched" class="ng-invalid-feedback">
        CPF inválido.
      </div>
    </div>

    <div class="col-md-8">
      <label for="email" class="form-label">E-mail</label>
      <input autocomplete="off" formControlName="email" type="text" class="form-control" id="email" required>
      <div *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched" class="ng-invalid-feedback">
        Campo obrigatório.
      </div>
      <div *ngIf="formulario.get('email')?.errors?.['email'] && formulario.get('email')?.touched" class="ng-invalid-feedback">
        E-mail inválido.
      </div>
    </div>

    <div class="col-md-4">
      <label for="telephone" class="form-label">Celular</label>
      <input autocomplete="off" formControlName="telephone" type="text" class="form-control" id="telephone" mask="(00) 00000-0000" required>
      <div *ngIf="formulario.get('telephone')?.errors?.['required'] && formulario.get('telephone')?.touched" class="ng-invalid-feedback">
        Campo obrigatório.
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex gap-2" align="end">
  <button mat-dialog-close (click)="onNoClick()" class="btn btn-secondary">Cancelar</button>
  <button (click)="put()" class="btn btn-success text-white" cdkFocusInitial [disabled]="formulario.invalid">Cadastrar</button>
</mat-dialog-actions>
