<div class="text-center">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div type="button" class="col" *ngFor="let item of cards" routerLink="/painel/{{ item.label }}">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <span [ngClass]="materialIcons(item.static)">
            {{ item.icon ?? item.info }}
          </span>
        </div>
        <div class="card-footer">
          <span class="title-card">{{ item.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
