#page-content {
  flex: 1 0 auto;
  background-color: #F6F6F6;
}
app-header{
  width: 100%;
}
mat-toolbar {
  background-color: var(--dark-color);
  color: var(--white-color);
}
mat-sidenav {
  margin: 16px;
  width: 300px;
  border-right: none;
  /* background-color: #002b5c; */
  background-color: var(--dark-color);
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content{
  min-height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  color: lightgray;
}

mat-sidenav-container{
  min-height: calc(100vh - 65px);
}
