<div class="d-flex flex-column align-items-center">
  <div class="title">
    <h2>Proprietários</h2>
  </div>

  <div class="d-flex flex-column align-items-center">
    <div class="input-group rounded">
      <input type="search" class="form-control" placeholder="Pesquisar" aria-label="Search"
        aria-describedby="search-addon" />
      <span class="input-group-text border-0 bg-primary" id="search-addon">
        <span class="material-icons text-white">search</span>
      </span>
    </div>
    <small class="text-muted my-2">128 Proprietários Cadastrados</small>
  </div>
</div>

<!-- <app-table-users [users]="owners"></app-table-users> -->
<app-owners-table></app-owners-table>
