/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*AUX4TECH*/
.bg-dark-a4t{
  background-color: var(--dark-color);
}
